 /* All rights reserved. 2022-2026 (c) Peter HU */
a {
  text-decoration: none; /* no underline by default */
}

a:hover {
  text-decoration: underline; /* underline on hover */
}

.top {
  height: auto;
  width: 100vw;
  background: white;
  letter-spacing: 0.075em;
  top: 0;
  position: fixed;
  margin-left: 0;
  margin-bottom: 5px;
  z-index: 99999999;
}

p{
  overflow: auto;
}
.top ul {
  width: auto;
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5%;
  /*the first word*/
  padding: 0;
}
pre {
  width: 100%;
  overflow: auto;
}
 
.top li {
  float: left;
  margin-right: 5%;
  /*gap*/
  position: relative;
  overflow: hidden;
}

.top li a_ {
  display: block;
  color: Black;
  text-align: center;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

.top li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

.top li a:hover {
  background-color: #d9f2d9;
  font-weight:bold;
  font-style: italic;
  color: black;
  border-radius: 16px;
}

.top li a.active {
  font-weight:bold;
  color: #1D0035;
}

.top ul li ul {
  /*the second index*/
  margin-left: -0.2px;
  background-color: white;
  position: relative;
  display: none;
}

.top ul li ul li {
  float: none;
  text-align: center;
}

.top ul li:hover ul {
  display: block;
}

body_ {
  background-color: white;
}

body {
  background-color: white;
  /* #d9f2d9; */
  /* background-image:radial-gradient(#e7edcc ,#d9f2d9); */
  /* background-image: linear-gradient(to right, #d9f2d9, #dfe6be ); */
  
}

h1 {
  color: Black
}

h2 {
  font-size: 125%;
  color: Black
}

.h2_center {
  font-size: 125%;
  color: Black;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}

h3 {
  font-size: 100%;
  color: Black
}

.aboutMeContainer {
  width: 60%;
  margin: auto;
  margin-bottom: 25px;
  /* text-align: center; */
}
@media only screen and (max-width: 800px) {
  .aboutMeContainer {
    width: 80%;
    margin: auto;
    margin-left : 20vw;
    margin-bottom: 25px;
    /* text-align: center; */
  }
}
.announcement {
  padding: 10px 15px;
  border-radius: 30px;
  /* background: rgba(210, 210, 210, 0.2509803922); */
  background-color: #f5fbf5;
  margin-top: 20px;
  /* color: rgba(50, 50, 50, 0.7411764706); */
}

.container_main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 40px;
  grid-auto-rows: minmax(3rem, auto);
  grid-row-gap: 0.5rem;
  max-width: 83vw; /*1024px*/
  margin: 0 auto;
}

.left-panel {
  grid-column: 1/3;
}

.right-panel {
  grid-column: 3/9;
}

.container_small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  border: 1px dashed #987cb988; 
  border-radius: 5px;

}

.half-panel {
  /* debugging */
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  /* border: 1px dashed #987cb988;  */
  /* Changed from solid to dashed */
  /* border-radius: 5px; */
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.container {
  width: 70%;
  margin: auto;
  margin-bottom: 60px;
}

.table_profile {
  width: 32vw;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*border: 1px solid black;*/
}

.img_profile {
  width: 12vw;
  max-height: 40vh;
  border-radius: 50%;
  border: 1.5px solid rgb(255, 255, 255);
}

@media only screen and (max-width: 800px) {
  .table_profile {
    width: 90vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*border: 1px solid black;*/
  }
}
@media only screen and (max-width: 600px) {
  .img_profile {
    width: 30vw;
    max-height: 80vh;
    border-radius: 50%;
  }
}
.img_normal {
  width: 60vw;
  max-height: 80vh;
}

.table_project {
  width: 80vw;
  height: 10vh;
  border-collapse: separate;
  border-spacing: 0 20px;
}

/* debugging */
/* .table_project td {
  border: 1px solid red; 
  padding: 8px 12px;
} */

.table_project_photo {
  width:8vw;
  max-height: 10vh;
}


.img_project {
  width: 13.6vw;
  max-height: 15vh;
  margin-left: 1vw;
  margin-right: 0.5vw;
  border: 2px solid rgb(255, 255, 255);
}

.table_footer {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.sidebar{
  position: fixed;
  top:  25vh;
  left: 0;
  width: 8vw;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.sidebar a {
  display: block;
  color: grey;
  padding: 8px; /* change sidebar alignment here*/
  text-decoration: none;
}
.sidebar a.active {
  background-color: #d9f2d9;
  color: white;
  font-weight:bold;
  font-style: italic;

}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
  font-weight:bold;
  font-style: italic;
}

 
.comments-container {
  max-height: 640px;
  overflow-y: scroll;
}

.sidebar_main{
  position: fixed;
  top:  40vh;
  bottom: 25vh; 
  /* different */
  left: 0vw;
  width: 6vw;
  /* height: 100%; */
  padding: 20px 0;
  transition: all 0.5s ease;
  font-size: small;
  /* background-color: white; */
  /* background: rgba(210, 210, 210, 0.15) ; */
  /* background: #f5fbf5; */
  
}

.sidebar_main a {
  display: block;
  color: #70757a;
  padding: 8px; /* change sidebar alignment here*/
  text-decoration: none;
  /* background-color:rgba(150, 150, 150, 0.15); */

}

.sidebar_main a.active {
  background-color: #d9f2d9;
  /* background-color: #C2E7FF; */
  /* background-color: #d9f2d9; */
  /* color: white; */
  color: #1D0035;
  font-weight:bold;
  font-style: italic;
}

.sidebar_main a:hover:not(.active) {
  background-color: #555;
  color: white;
  font-weight:bold;
  font-style: italic;
}

.content {
  margin-left: 10vw;
  margin-right: 3.2vw;

  padding: 1px 16px;
}

.blog {
  background-color: rgb(242, 246, 206);
}


.blog li {
  float: none;
  text-align: center;
  overflow: hidden;
  padding: 5;
}

.blog li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

.blog li a:hover {
  background-color: white;
}

/* .blogHeader {
  background-image:  url("/asset/photo/bg/Magic.jpg");
  background-size: 100% auto ;
  background-repeat: no-repeat;
  height: 50vh;
} */

/* @media only screen and (max-width: 800px) { */
  .blogHeader {
    background-image:  url("/asset/photo/bg/Magic.jpg");
    background-size: 100% auto ;
    background-repeat: no-repeat;
    height: 18vh;
  }
/* } */

.blogFooter {
  background-image:  url("/asset/photo/bg/Magic2.jpg");
  /* background-size: 100% auto ; */
  background-repeat: no-repeat;
  color: #dddddd;
  /* height: 30vh; */
}

.blogFooter a {color: #dddddd;}

.button_musicoff {
  /* border-radius: 1px;
  padding: 2px;
  margin: 2px ; */
  /* font-size: 14px; */
  text-align: center;
  background-color:white;
  color: grey;
  border-radius: 16px; /* Pill Button */
  border: 3px solid #d9f2d9;
}

.button_musicoff:hover {
  color: black;
  border-radius: 16px;
  background-color: #d9f2d9;
}

.button_musicon {
  /* border-radius: 1px;
  padding: 2px;
  margin: 2px ; */
  /* font-size: 14px; */
  text-align: center;
  background-color:#d9f2d9;
  color: grey;
  border-radius: 16px; /* Pill Button */
  border: 3px solid #d9f2d9;
}

.button_musicon:hover {
  color: black;
  border-radius: 16px;
  background-color: white;
}


.button_sitemapoff {
  /* border-radius: 1px;
  padding: 2px;
  margin: 2px ; */
  /* font-size: 14px; */
  text-align: center;
  background-color:grey;
  color: white;
  border-radius: 16px; /* Pill Button */
  border: 3px solid white;
}


.button_sitemapon {
  /* border-radius: 1px;
  padding: 2px;
  margin: 2px ; */
  /* font-size: 14px; */
  text-align: center;
  background-color:white;
  color: black;
  border-radius: 16px; /* Pill Button */
  /* border: 3px solid #d9f2d9; */
}


.button_blogs {
  color: black;
  background-color:#dce2dc;  
  border: 2px solid white;
}
.button_blogs:hover {
  color: white;
  font-weight:bold;
  background-color: #dfe6be;
}

iframe{
  width: 80%;
  height: 90%;
}


.footerDisclaimer{
  color:grey;
}

.footerDisclaimer a {
  color: #C0C0C0;
}


@font-face {
  font-family: 'BrushScriptMT-embed';
  src: url('/asset/font/Brush-Script-MT/BRUSHSCI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a.project-link {
  text-decoration: none;
  color: blue;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

a.project-link:visited {
  color: blue; /* Color after clicking */
}

a.project-link:hover,
a.project-link:focus {
  background-color: #4a90e2;
  color: white;
  text-decoration: none;
}

a.project-link:active {
  background-color: blue;
  color: white;
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  /* max-width: 800px; */
  /* no border */
  border: 1px solid #0a0a0a;
}

.slideshowSlider {
  white-space: nowrap;
  transition:  ease 2000ms;
  /* transition: ease 2000ms; */
}

.slide {
  display: inline-block;
  /* change height */
  /* height: 250px; */
  width: 100%;
  /* border-radius: 40px; */
  /* border: 1px solid #0a0a0a; */
}

.button_collapsable{
  border-top-left-radius: "12px";
  border-top-right-radius: "12px";
}

.button_collapsable:hover{
  background-color: "grey";
}


/* animation for text switching */
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}