.top {
  height: auto;
  width: 100vw;
  background: white;
  letter-spacing: 0.075em;
  top: 0;
  position: fixed;
  margin-left: 0;
  margin-bottom: 5px;
}

p{
  overflow: auto;
}
.top ul {
  width: auto;
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5%;
  /*the first word*/
  padding: 0;
}
pre {
  width: 100%;
  overflow: auto;
}
 
.top li {
  float: left;
  margin-right: 5%;
  /*gap*/
  position: relative;
  overflow: hidden;
}

.top li a_ {
  display: block;
  color: Black;
  text-align: center;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

.top li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

.top li a:hover {
  background-color: #d9f2d9;
  font-weight:bold;
  font-style: italic;
  color: black;
  border-radius: 16px;
}

.top ul li ul {
  /*the second index*/
  margin-left: -0.2px;
  background-color: white;
  position: relative;
  display: none;
}

.top ul li ul li {
  float: none;
  text-align: center;
}

.top ul li:hover ul {
  display: block;
}

body_ {
  background-color: white;
}

body {
  background-color: #d9f2d9;
  /* background-image:radial-gradient(#e7edcc ,#d9f2d9); */
  /* background-image: linear-gradient(to right, #d9f2d9, #dfe6be ); */
  
}

h1 {
  color: Black
}

h2 {
  font-size: 125%;
  color: Black
}

.h2_center {
  font-size: 125%;
  color: Black;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 15px;
}

h3 {
  font-size: 100%;
  color: Black
}

.aboutMeContainer {
  width: 60%;
  margin: auto;
  margin-bottom: 60px;
  text-align: center;

}

.container {
  width: 70%;
  margin: auto;
  margin-bottom: 60px;
}

.table_profile {
  width: 42vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*border: 1px solid black;*/
}

.img_profile {
  width: 16vw;
  max-height: 40vh;
  border-radius: 50%;
}

@media only screen and (max-width: 800px) {
  .table_profile {
    width: 90vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*border: 1px solid black;*/
  }
}
@media only screen and (max-width: 600px) {
  .img_profile {
    width: 30vw;
    max-height: 80vh;
    border-radius: 50%;
  }
}
.img_normal {
  width: 60vw;
  max-height: 80vh;
}

.table_project {
  width:92vw;
  height: 10vh;
}

.table_project_photo {
  width:16vw;
  max-height: 16vh;
}


.img_project {
  width: 15vw;
  max-height: 16vh;
  margin-left: 1vw;
  margin-right: 0.5vw;
}

.table_footer {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.sidebar{
  position: fixed;
  top:  25vh;
  left: 0;
  width: 160px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.sidebar a {
  display: block;
  color: grey;
  padding: 8px; /* change sidebar alignment here*/
  text-decoration: none;
}
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
  font-weight:bold;
  font-style: italic;

}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
  font-weight:bold;
  font-style: italic;
}
.content {
  margin-left: 180px;
  padding: 1px 16px;
}
.blog {
  background-color: bisque;
}


.blog li {
  float: none;
  text-align: center;
  overflow: hidden;
  padding: 5;
}

.blog li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

.blog li a:hover {
  background-color: white;
}

.imageContainer {
  background-image:  url("/asset/photo/bg/Magic.jpg");
  background-size: 100% auto ;
  background-repeat: no-repeat;
  height: 50vh;
}

@media only screen and (max-width: 800px) {
  .imageContainer {
    background-image:  url("/asset/photo/bg/Magic.jpg");
    background-size: 100% auto ;
    background-repeat: no-repeat;
    height: 18vh;
  }
}

.button_musicoff {
  /* border-radius: 1px;
  padding: 2px;
  margin: 2px ; */
  /* font-size: 14px; */
  text-align: center;
  background-color:white;
  color: grey;
  border-radius: 16px; /* Pill Button */
  border: 3px solid #d9f2d9;
}

.button_musicoff:hover {
  color: black;
  border-radius: 16px;
  background-color: #d9f2d9;
}

.button_musicon {
  /* border-radius: 1px;
  padding: 2px;
  margin: 2px ; */
  /* font-size: 14px; */
  text-align: center;
  background-color:#d9f2d9;
  color: grey;
  border-radius: 16px; /* Pill Button */
  border: 3px solid #d9f2d9;
}

.button_musicon:hover {
  color: black;
  border-radius: 16px;
  background-color: white;
}

.button_blogs {
  color: black;
  background-color:#d9f2d9;  
  border: 2px solid white;
}
.button_blogs:hover {
  color: white;
  font-weight:bold;
  background-color: #dfe6be;
}

iframe{
  width: 80%;
  height: 90%;
}