.top {
  height: auto;
  width: 100vw;
  background: white;
  letter-spacing: 0.075em;
  top: 0;
  position: fixed;
  margin-left: 0;
  margin-bottom: 5px;
}

.top ul {
  width: auto;
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5%;
  /*the first word*/
  padding: 0;
}

.top li {
  float: left;
  margin-right: 5%;
  /*gap*/
  position: relative;
  overflow: hidden;
}

.top li a_ {
  display: block;
  color: Black;
  text-align: center;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

.top li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

.top li a:hover {
  background-color: #E0EEE0;
}

.top ul li ul {
  /*the second index*/
  margin-left: -0.2px;
  background-color: white;
  position: relative;
  display: none;
}

.top ul li ul li {
  float: none;
  text-align: center;
}

.top ul li:hover ul {
  display: block;
}

body_ {
  background-color: white;
}

body {
  background-color: #E0EEE0;
}

h1 {
  color: Black
}

h2 {
  font-size: 125%;
  color: Black
}

.h2_center {
  font-size: 125%;
  color: Black;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 15px;
}

h3 {
  font-size: 100%;
  color: Black
}

.container {
  width: 70%;
  margin: auto;
  margin-bottom: 60px;
}

.table_profile {
  width: 42vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*border: 1px solid black;*/
}

.img_profile {
  width: 16vw;
  max-height: 40vh;
}

.img_normal {
  width: 60vw;
  max-height: 80vh;
}

.table_project {
  width: 80vw;
  height: 10vh;
   
}

.table_project_photo {
  width:10vw;
  max-height: 16vh;
}
 
 
.img_project {
  width: 13vw;
  height: 14vh;
  margin-left: 1vw;
  margin-right: 0.5vw;
}

.table_footer {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.blog {
  background-color: bisque;
}


.blog li {
  float: none;
  text-align: center;
  overflow: hidden;
  padding: 5;
}

.blog li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

.blog li a:hover {
  background-color: white;
}